body
{
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #16324F;
}

#navbar
{
  width:100%;
  margin:0px auto;
  padding:0px;
  text-align:center;
  height:70px;
  line-height:70px;
  background-color: #13293D;
}

#navbar li
{
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
  font-size:17px;
  color:#3E92CC;
  font-weight:bold;
  cursor:pointer;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr
{
  width: 50%;
  margin: 20px auto;
  border: 5px solid black;
  border-radius: 2px;
}

.web-icons li
{
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}

.web-icons img 
{
  width: 70px;
}

img
{
  border-radius: 25px;
}

a
{
  color: #16324F;
  font-weight:bold;
  text-decoration:none;
}

.box-section
{
  margin: 10px auto;
  width: 650px;
  background-color: #f5f8fc;
  border-radius: 25px;
  color: #16324F;
  padding: 20px;
}

.inner-box
{
  
}